h1 {
    font-family: arial;
    font-size: 25px;
    color: #D7670B;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    font-family: arial;
    font-size: 20px;
    color: #D7670B;
    text-align: center;
    text-transform: uppercase; 
}
h3 {
    padding-left: 20px;
}
h4 {
    padding-left: 30px;
    text-transform: uppercase;
}
p {
    padding-left: 30px;
}
a {
    text-decoration: none;
    color: #7C0CEE;
}
a:hover {
    color: #2508B5;
}
html, body{
    font-family: arial;
    background-color: #D2D1D1;
    font-size: 16px;
    margin:0;
    padding:0px;
}
header {
    display: block;
    width: 100%;
    height: 100px;
}   
nav {
    display: block;
    width: 100%;
    height: 50px;
    background-color: #ADE6DA;
    }
ul {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #4F4B4F;
    border-radius: 15px;
    text-decoration: none;
    }

    li {
        display: block;
        height: 100%;
        width: 20%;
        float: left;
        background-color: rgba(171, 190, 132, 0.78);
        line-height: 50px;
        text-align: center;
        font-size:25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    li:hover {
        background-color: #F3D98E;
    }
.content {
    max-width: 1024px;
    margin: auto;
    background: #DCDCCB;
    padding: 10px;    
} 
IMG.displayed {
    display: block;
    border:2px solid #606D8A;
    margin-left: auto;
    margin-right: auto;
}
.citation {
    text-align: center;
    border:2px solid #5A6988;
    background-color: #F2DEA4;
    width:600px;
    height:130px;
    padding-top: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.websites {
    border:2px solid #5A6988;
    padding-top: 15px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #80ABB8;
    font-size: 16px;
    text-align: left;
    vertical-align: middle;
    color: rgb(16, 15, 15);
    width:820px;
    height:420px;
}
.current {
    display: block;
    background-color:#F3D98E;
}
.references {
    font-family: arial;
    font-size: 18px;
    padding-right: 20px;
    padding-left: 20px;
}